html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

.vehinfo ul {
	list-style: none;
	margin: 0px;
	list-style: none;
	padding: 0px;
	border:  1px;
}

.vehinfo ul li {
	float: left;
	margin: 10px;
	min-width: 180px;
	max-width: 800px;
	display: block;
}

.vehinfo ul li label {
	display: inline-block;
	width: 90px;
	text-align: right;
	font-size: 12px;
}

.vehinfo ul li span {
	margin-left: 6px;
	font-size: 12px;
	width: 100px;
	height: 15px;
}

.fourcell {
	width: 800px;
}

.threecell {
	width: 600px;
}

.towcell {
	width: 400px;
}